@model Web_24BM.Models.EmailViewModel

<div class="container mt-5">

    @if (TempData["EmailT"] != null)
    {
        <div class="alert alert-success" role="alert">
            Se ha enviado un correo de @TempData["EmailT"]
        </div>
    }
    @if (TempData["EmailError"] != null)
    {
        <div class="alert alert-danger" role="alert">
            Se ha enviado un correo de @TempData["EmailError"]
        </div>
    }


    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Formulario de contacto</h3>
            <p class="text-center">Escribenos un mensaje y te contactaremos.</p>
        </div>
        <div class="col-8">
            <form asp-action="EnviarFormulario" method="post">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="text" asp-for="Email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Comentarios</label>
                    <textarea class="form-control" asp-for="Mensaje" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn btn-primary" value="Enviar" />
                </div>
            </form>
        </div>
        <div class="col-4">
            <h3>Solicita información</h3>
            <p>Envianos tu comentario y te responderemos en breve...</p>
        </div>
    </div>
</div>